dash-core-components==1.15.0
dash-bootstrap-components==0.10.6
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
pandas==1.0.0
plotly==4.14.3
requests-oauthlib==1.3.0
retrying==1.3.3
SQLAlchemy==1.3.13
URLObject==2.4.3
psycopg2==2.8.6
gunicorn==20.0.4
